@font-face {
    font-family: 'Milky-Honey';
    src: url('./Milky-Honey.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Milky-Honey';
    color: rgb(227, 227, 227);
}

body {
    height: 100vh;
    width: 100vw;
    background-color:rgb(19, 19, 19) ;
}